/* .cartel {
 
    border: solid black 8px;
} */

.cardExpress{
    background-color: rgb(95, 46, 141);
}

.cartel {
    margin-top: 0px;
    background-color:  #6D9886;
    width: 1050px;
    height: 800px;
    margin-left: 0px;
    border-radius: 80px;
    border: solid black 8px;

}

